<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nsz.kotlin"
    tools:ignore="ScopedStorage">

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.nfc.hce"
        android:required="true" />

    <uses-permission android:name="android.permission.NFC" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".storage.SAFActivity"
            android:exported="false" />
        <activity
            android:name=".storage.StorageActivity"
            android:exported="false" />
        <activity
            android:name=".storage.ScopedStorageActivity"
            android:exported="false" />

        <activity
            android:name=".thread.LaunchScopeActivity"
            android:exported="false" />

        <!-- Android Architecture Components -->
        <activity
            android:name=".aac.AndroidArchitectureComponentsActivity"
            android:exported="false" />

        <!-- Architecture -->
        <activity
            android:name=".aac.architecture.ArchitectureActivity"
            android:exported="false" />

        <!-- Room -->
        <activity
            android:name=".aac.architecture.room.RoomActivity"
            android:exported="false" />

        <!-- Paging -->
        <activity
            android:name=".aac.architecture.paging.PagingActivity"
            android:exported="false" />

        <!-- LiveData -->
        <activity
            android:name=".aac.architecture.live.data.LiveDataActivity"
            android:exported="false" />

        <!-- DataStore -->
        <activity
            android:name=".aac.architecture.data.store.DataStoreActivity"
            android:exported="false" />

        <!-- Lifecycle -->
        <activity
            android:name=".aac.architecture.lifecycle.LifecycleActivity"
            android:exported="false" />

        <!-- ViewMode -->
        <activity android:name=".aac.architecture.view.model.ViewModelActivity" />

        <service
            android:name=".aac.architecture.foreground.service.ForegroundService"
            android:exported="false" />
        <activity
            android:name=".aac.architecture.foreground.service.ForegroundServiceActivity"
            android:exported="false" />

        <!-- DataBinding -->
        <activity
            android:name=".aac.architecture.data.binding.DataBindingActivity"
            android:exported="false" />
        <activity
            android:name=".aac.architecture.data.binding.DataBindingRecyclerViewActivity"
            android:exported="false" />

        <!-- UI -->
        <activity
            android:name=".aac.ui.UIActivity"
            android:exported="false" />
        <activity
            android:name=".aac.ui.layout.LayoutActivity"
            android:exported="false" />
        <!-- Animation -->
        <activity
            android:name=".aac.ui.animation.AnimationActivity"
            android:exported="false" />
        <activity
            android:name=".aac.ui.animation.BounceInterpolatorActivity"
            android:exported="false" />

        <!-- Behavior -->
        <activity
            android:name=".aac.behavior.BehaviorActivity"
            android:exported="false" />
        <activity
            android:name=".aac.behavior.CameraXActivity"
            android:exported="false" />
        <!--/////////////////////////////////////////////////////////////////////////////////////-->

        <!-- NFC Function -->
        <activity
            android:name=".nfc.NFCActivity"
            android:exported="false" />
        <activity
            android:name=".nfc.ReaderM1CardActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.nfc.action.ACTION_NDEF_DISCOVERED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name=".nfc.HCEActivity"
            android:exported="false" />

        <service
            android:name=".nfc.HCEService"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/nfc_hce_aid_group" />
        </service>

        <!-- Open Source -->
        <activity
            android:name=".open.source.OpenSourceActivity"
            android:exported="false" />
        <activity
            android:name=".open.source.UssdActivity"
            android:exported="false" />
        <activity
            android:name=".open.source.AsyncCommunicationActivity"
            android:exported="false" />

    </application>

</manifest>